html,
body {
    margin: 0;
    padding: 0;
    cursor: none;
}

.nav-wrapper {
    background: url(https://media.discordapp.net/attachments/1004719374558576774/1011426546797510778/IMG_0702.png?width=872&height=486);
    background-size: 1920px 1200px;
    background-position: center,center;
    background-repeat: no-repeat;
}


nav {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: absolute;
    top: 50%;
}

.hover-this {
    transition: all 0.3s ease;
}

span {
    display: inline-block;
    font-family: "Monument Extended";
    font-weight: 300;
    color: rgb(255, 255, 255);
    font-size: 36px;
    text-transform: uppercase;
    pointer-events: none;
    transition: transform 0.1s linear;
}

.cursor {
    pointer-events: none;
    position: fixed;
    padding: 0.3rem;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    mix-blend-mode: difference;
    transition: transform 0.3s ease;
}

.hover-this:hover~.cursor {
    transform: translate(-50%, -50%) scale(8);
}

@media(min-width: 900px) {
    nav {
        display: flex;
        justify-content: space-around;
    }
}

@media(max-width: 900px) {
    nav {
        top: 30%;
    }
    .hover-this {
        width: 100%;
        padding: 20px 0;
        display: inline-block;
    }
}
